@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Font */
body {
  font-family: "-apple-system","BlinkMacSystemFont","Hiragino Kaku Gothic ProN","Hiragino Sans","Meiryo",sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
}

/* For AppBar */
.draggable {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

.undraggable {
    -webkit-app-region: no-drag;
  }
